article {
  display: flex;
  flex-direction: column;
}

.question {
  display: none;
}

.result {
  display: none;
}

.result #img {
  content: url("https://cdn.pixabay.com/photo/2014/12/12/19/45/lion-565820_960_720.jpg");
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
